Задачи: 
* Очистка таблицы от некорректных данных и пропусков

* Выбор оптимальных гипперпараметров для кластеризации

* Кластеризациия с помощью алгоритма DBSCAN

* Анализ кластеров

In [122]:
import pandas as pd
df = pd.read_csv("dbscan_final_task.csv", index_col = 0)

In [123]:
df.head(20)

   Пол  Возраст  Вес                  Проффесия Высшее_образование
id
0    М       63   83                  Сантехник                 Да
1    М       63   83                  Сантехник                 Да
2    Ж       50   81      Тренер по киберспорту                 Да
3    Ж       50   73  Тренер по легкой атлетике                 Да
4    М       50   73                  Крановщик                 Да
5    М       50   73                  Крановщик                 Да
6    М       29   75        Backend-разработчик                 Да
7    М       29   75        Backend-разработчик                 Да
8    М       29   75        Backend-разработчик                 Да
9    М       25   57                        NaN                 Да
10   М       25   57                        NaN                 Да
11   М       25   57                        NaN                 Да
12   М       66   74                  Крановщик                 Да
13   Ж       48   90      Тренер по киберспорту                 Да
14   М       24   86       Frontend-разработчик                 Да
15   Ж       79   93      Тренер по киберспорту                 Да
16   Ж       49   88        Тренер по волейболу                 Да
17   Ж       74  100          Тренер по футболу                 Да
18   Ж       74  100          Тренер по футболу                 Да
19   М       57   70                     Токарь                 Да

In [124]:
df['Проффесия'].unique()

array(['Сантехник', 'Тренер по киберспорту', 'Тренер по легкой атлетике',
       'Крановщик', 'Backend-разработчик', nan, 'Frontend-разработчик',
       'Тренер по волейболу', 'Тренер по футболу', 'Токарь', 'Сварщик',
       'Блогер', 'Тренер по фитнесу', 'SMM-специалист', 'Тестировщик',
       'Маляр', 'Таргетолог', 'Фотограф', 'Копирайтер', 'IOS-разработчик',
       'Data scientist'], dtype=object)

**Возраст** -- Возраст человека

**Пол** -- Пол человека | **м**,  **ж** 

**Вес** -- Вес человека

**Проффесия** -- проффесия человека (20+ различных проффесий)

**Высшее_образование** -- Есть ли у человека высшее образование | **Да**,  **Нет**

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4933 entries, 0 to 4932
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Пол                 4784 non-null   object
 1   Возраст             4933 non-null   int64
 2   Вес                 4933 non-null   int64
 3   Проффесия           4794 non-null   object
 4   Высшее_образование  4933 non-null   object
dtypes: int64(2), object(3)
memory usage: 231.2+ KB

In [126]:
df[df['Пол'].isna()]

      Пол  Возраст  Вес  Проффесия Высшее_образование
id
84    NaN       50   94  Сантехник                 Да
121   NaN       56   79     Токарь                 Да
227   NaN       45   75  Крановщик                 Да
319   NaN       46   91  Сантехник                 Да
337   NaN       56   82      Маляр                 Да
...   ...      ...  ...        ...                ...
4666  NaN       59   82  Крановщик                 Да
4734  NaN       48   84     Токарь                 Да
4815  NaN       62   97      Маляр                 Да
4816  NaN       62   97      Маляр                 Да
4817  NaN       68   73    Сварщик                 Да

[149 rows x 5 columns]

In [127]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4645 entries, 0 to 4931
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Пол                 4645 non-null   object
 1   Возраст             4645 non-null   int64
 2   Вес                 4645 non-null   int64
 3   Проффесия           4645 non-null   object
 4   Высшее_образование  4645 non-null   object
dtypes: int64(2), object(3)
memory usage: 217.7+ KB

In [128]:
df.describe()

           Возраст          Вес
count  4645.000000  4645.000000
mean     47.580624   112.405167
std      41.342723   244.084086
min      18.000000    40.000000
25%      23.000000    55.000000
50%      30.000000    75.000000
75%      63.000000    87.000000
max     299.000000  1993.000000

In [129]:
df = df[(df['Вес'] <= 150) & (df['Возраст'] <= 100)]
df.describe()

           Возраст          Вес
count  4377.000000  4377.000000
mean     42.044551    70.895591
std      20.922980    17.921455
min      18.000000    40.000000
25%      23.000000    54.000000
50%      30.000000    74.000000
75%      62.000000    86.000000
max      80.000000   100.000000

In [130]:
for i in df['Проффесия'].unique():
    column_name = 'Профессия' + i
    df[column_name] = df['Проффесия'].isin([i]).astype(int)
df = df.drop(['Проффесия'], axis = 1 )   
df

,Пол,Возраст,Вес,Высшее_образование,ПрофессияСантехник,ПрофессияТренер по киберспорту,ПрофессияТренер по легкой атлетике,ПрофессияКрановщик,ПрофессияBackend-разработчик,ПрофессияFrontend-разработчик,...,ПрофессияБлогер,ПрофессияSMM-специалист,ПрофессияТестировщик,ПрофессияМаляр,ПрофессияТаргетолог,ПрофессияФотограф,ПрофессияКопирайтер,ПрофессияIOS-разработчик,ПрофессияData scientist,ПрофессияТренер по фитнесу
id,,,,,,,,,,,,,,,,,,,,,
0,М,63,83,Да,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,М,63,83,Да,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Ж,50,81,Да,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Ж,50,73,Да,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,М,50,73,Да,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4925,М,71,93,Да,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4926,Ж,56,97,Да,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4927,М,30,63,Да,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4928,М,30,63,Да,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4929,М,52,86,Да,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [131]:
df['Высшее_образование'] = df['Высшее_образование'].map({'Да' : 1, 'Нет' : 0})
df['Пол'] = df['Пол'].map({'М' : 0, 'Ж' : 1})
df

,Пол,Возраст,Вес,Высшее_образование,ПрофессияСантехник,ПрофессияТренер по киберспорту,ПрофессияТренер по легкой атлетике,ПрофессияКрановщик,ПрофессияBackend-разработчик,ПрофессияFrontend-разработчик,...,ПрофессияБлогер,ПрофессияSMM-специалист,ПрофессияТестировщик,ПрофессияМаляр,ПрофессияТаргетолог,ПрофессияФотограф,ПрофессияКопирайтер,ПрофессияIOS-разработчик,ПрофессияData scientist,ПрофессияТренер по фитнесу
id,,,,,,,,,,,,,,,,,,,,,
0,0,63,83,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,63,83,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,50,81,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,50,73,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,50,73,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4925,0,71,93,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4926,1,56,97,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4927,0,30,63,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4928,0,30,63,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4929,0,52,86,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [132]:
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score
X = df
eps_array = [0.01, 0.2, 0.6, 1, 2, 5, 10, 20, 100]
min_samples_array = [1, 2, 3, 5, 10, 15, 20, 25, 30, 50]
best_eps = eps_array[0]
best_min_samples = min_samples_array[0]
best_silhouette_score = -1.0

,Пол,Возраст,Вес,Высшее_образование,ПрофессияСантехник,ПрофессияТренер по киберспорту,ПрофессияТренер по легкой атлетике,ПрофессияКрановщик,ПрофессияBackend-разработчик,ПрофессияFrontend-разработчик,...,ПрофессияБлогер,ПрофессияSMM-специалист,ПрофессияТестировщик,ПрофессияМаляр,ПрофессияТаргетолог,ПрофессияФотограф,ПрофессияКопирайтер,ПрофессияIOS-разработчик,ПрофессияData scientist,ПрофессияТренер по фитнесу
id,,,,,,,,,,,,,,,,,,,,,
0,0,63,83,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,63,83,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,50,81,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,50,73,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,50,73,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4925,0,71,93,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4926,1,56,97,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4927,0,30,63,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4928,0,30,63,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4929,0,52,86,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [134]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[X.columns] = scaler.fit_transform(X)

In [135]:
X

,Пол,Возраст,Вес,Высшее_образование,ПрофессияСантехник,ПрофессияТренер по киберспорту,ПрофессияТренер по легкой атлетике,ПрофессияКрановщик,ПрофессияBackend-разработчик,ПрофессияFrontend-разработчик,...,ПрофессияБлогер,ПрофессияSMM-специалист,ПрофессияТестировщик,ПрофессияМаляр,ПрофессияТаргетолог,ПрофессияФотограф,ПрофессияКопирайтер,ПрофессияIOS-разработчик,ПрофессияData scientist,ПрофессияТренер по фитнесу
id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.725806,0.716667,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.725806,0.716667,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.516129,0.683333,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.516129,0.550000,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.516129,0.550000,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4925,0.0,0.854839,0.883333,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4926,1.0,0.612903,0.950000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4927,0.0,0.193548,0.383333,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4928,0.0,0.193548,0.383333,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4929,0.0,0.548387,0.766667,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [136]:
for eps in eps_array:
    for min_samples in min_samples_array:
        clustering = DBSCAN(eps = eps, min_samples = min_samples).fit(X)
        df['Cluster_rez'] = clustering.labels_
        if len(df['Cluster_rez'].unique()) <= 1:
            continue
        else:
            temp_silhouette = silhouette_score(X, df['Cluster_rez'])  
            if temp_silhouette > best_silhouette_score:
                best_silhouette_score = temp_silhouette
                best_eps = eps
                best_min_samples = min_samples
print(best_eps, best_min_samples, best_silhouette_score)

0.6 1 0.8716490919507243

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4377 entries, 0 to 4929
Data columns (total 24 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Пол                                 4377 non-null   float64
 1   Возраст                             4377 non-null   float64
 2   Вес                                 4377 non-null   float64
 3   Высшее_образование                  4377 non-null   float64
 4   ПрофессияСантехник                  4377 non-null   float64
 5   ПрофессияТренер по киберспорту      4377 non-null   float64
 6   ПрофессияТренер по легкой атлетике  4377 non-null   float64
 7   ПрофессияКрановщик                  4377 non-null   float64
 8   ПрофессияBackend-разработчик        4377 non-null   float64
 9   ПрофессияFrontend-разработчик       4377 non-null   float64
 10  ПрофессияТренер по волейболу        4377 non-null   float64
 11  ПрофессияТренер по футболу          4377 non-null   float64
 12  ПрофессияТокарь                     4377 non-null   float64
 13  ПрофессияСварщик                    4377 non-null   float64
 14  ПрофессияБлогер                     4377 non-null   float64
 15  ПрофессияSMM-специалист             4377 non-null   float64
 16  ПрофессияТестировщик                4377 non-null   float64
 17  ПрофессияМаляр                      4377 non-null   float64
 18  ПрофессияТаргетолог                 4377 non-null   float64
 19  ПрофессияФотограф                   4377 non-null   float64
 20  ПрофессияКопирайтер                 4377 non-null   float64
 21  ПрофессияIOS-разработчик            4377 non-null   float64
 22  ПрофессияData scientist             4377 non-null   float64
 23  ПрофессияТренер по фитнесу          4377 non-null   float64
dtypes: float64(24)
memory usage: 854.9 KB

In [140]:
clustering = DBSCAN(eps = 0.6, min_samples = 1).fit(X)
df['Cluster_rez'] = clustering.labels_  
df

,Пол,Возраст,Вес,Высшее_образование,ПрофессияСантехник,ПрофессияТренер по киберспорту,ПрофессияТренер по легкой атлетике,ПрофессияКрановщик,ПрофессияBackend-разработчик,ПрофессияFrontend-разработчик,...,ПрофессияSMM-специалист,ПрофессияТестировщик,ПрофессияМаляр,ПрофессияТаргетолог,ПрофессияФотограф,ПрофессияКопирайтер,ПрофессияIOS-разработчик,ПрофессияData scientist,ПрофессияТренер по фитнесу,Cluster_rez
id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.725806,0.716667,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,0.725806,0.716667,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,1.0,0.516129,0.683333,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,1.0,0.516129,0.550000,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
4,0.0,0.516129,0.550000,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4925,0.0,0.854839,0.883333,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8
4926,1.0,0.612903,0.950000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6
4927,0.0,0.193548,0.383333,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,21
4928,0.0,0.193548,0.383333,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,21
4929,0.0,0.548387,0.766667,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3

In [141]:
best_silhouette_score = best_silhouette_score
minmax = True

In [142]:
df['Cluster_rez'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29], dtype=int64)

In [143]:
df.head(100)

,Пол,Возраст,Вес,Высшее_образование,ПрофессияСантехник,ПрофессияТренер по киберспорту,ПрофессияТренер по легкой атлетике,ПрофессияКрановщик,ПрофессияBackend-разработчик,ПрофессияFrontend-разработчик,...,ПрофессияSMM-специалист,ПрофессияТестировщик,ПрофессияМаляр,ПрофессияТаргетолог,ПрофессияФотограф,ПрофессияКопирайтер,ПрофессияIOS-разработчик,ПрофессияData scientist,ПрофессияТренер по фитнесу,Cluster_rez
id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.725806,0.716667,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,0.725806,0.716667,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,1.0,0.516129,0.683333,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,1.0,0.516129,0.550000,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
4,0.0,0.516129,0.550000,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,0.0,0.596774,0.500000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,14
112,0.0,0.451613,0.633333,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
113,1.0,0.967742,0.616667,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6
114,1.0,0.032258,0.116667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11
115,1.0,0.112903,0.633333,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,20